head{
  background-color: black;
  font-family: Tahoma, Geneva, sans-serif;
  color: white;
}
body {
  background-color: white;
  font-family: Tahoma, Geneva, sans-serif;
  color: black;

}

.Buttons button {
  background-color: black; /* Green background */
  border: none; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.Buttons:after {
  content: "";
  clear: both;
  display: table;
}

.Buttons button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.Buttons button:hover {
  background-color: grey;
}

h1{
  background-color: white;
  font-size: 30px;
  color: blakc;
}
